.section_login {
    height: 100vh;
}

.form_login {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.form_login input {
    width: 25%;
    height: 30px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    margin-top: .5%;
    padding-left: .5%;
}


.form_login button {
    width: 24%;
    height: 35px;
    border: 1px solid rgb(6, 92, 6);
    background-color: #52c524;
    border-radius: 7px;
    margin-top: .5%;
    cursor: pointer;
    transition: .2s;
    font-size: 18px;
}

.form_login button:hover {
    transition: .2s;
    background-color: #41a819;
}